body {
    font-family: Arial;
    background-image: url("globe.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-indent: 20px;
    font-size: 7vh;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin: 20px;
    background-color: #002a52;
    color: #ffd54a;
}

button {
    font-size: 15px;
    max-height: 240px;
    max-width: 800px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background-color: #002a52;
    color: #ffd54a;
    margin: 5px;
}

button:active {
    transition: 90ms;
    background-color: #004f9a;
}

.functions{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(1, 12fr);
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(3, 12fr);
}


.clear{
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    grid-template-rows: repeat(1, 12fr);
}