body{
 background-color: #001D3D;
}

#display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-indent: 20px;
    height: 235px;
    width: 661;
    border-radius: 40px;
    font-size: 5vw;
    margin: 20px;
    background-color: #003566;
    color: #FFC300;
}

button{
    font-size: 3vw;
    height: 120px;
    width: 400px;
    border-radius: 20px;
    background-color: #003566;
    color: #FFC300;
}

.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.functions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}