body{
 background-color: #001D3D;
}

#display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-indent: 20px;
    height: 235px;
    width: 661;
    border-radius: 40px;
    font-size: 5vw;
    margin: 20px;
    background-color: #003566;
    color: #FFC300;
}

button{
    font-size: 3vw;
    height: 120px;
    width: 160px;
    background-color: #003566;
    color: #FFC300;
}

.numbers{
    display: grid;
    grid-template: repeat(5, 120px)/ repeat(5, 160px);
    grid-area: 1/1/6/6
}